.bgimg-1 {
  background-image: url("http://www.samsung-wallpapers.com/uploads/allimg/130512/1-1305121U432.jpg");
  min-height: 100%;
}

.bgimg-2 {

  /* background-image: url("http://wallperio.com/data/out/392/raining-background_618527465.png"); */



background-color: grey;
  min-height: 85%;
}

.bgimg-3 {
  background-image: url("http://wallperio.com/data/out/392/raining-background_618527465.png");
  min-height: 85%;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.containerMap {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.columnMap {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.rowMap:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnMap, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
