.bgimg-1 {
  background-image: url("https://hdwallsource.com/img/2019/8/sekiro-shadows-die-twice-computer-wallpaper-67290-69591-hd-wallpapers.jpg");
  min-height: 100%;
}


.video{
  min-height: 85%;

}
