.bgimg-1 {
  background-image: url("https://i.redd.it/u68butd57ury.png");
  min-height: 100%;
   /* transform:scaleX(-1); */
}

.BoxFullSpan{

}

.bgimg-2 {
  background-image: url("https://i.ytimg.com/vi/SrPtRjhxEkc/maxresdefault.jpg");
  min-height: 85%;
}

.bgimg-3 {
  background-image: url("https://images5.alphacoders.com/927/927025.png");
  min-height: 85%;
}

.no-bgimg{
    min-height: 90%;
}


span.border:hover{
  background-color: #2d89ef;
  text-decoration: none;
}


span.border:hover a{
  color: white;
}
